@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');


/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Garet', sans-serif;
    background-color: #f8f3ea;
    color: #723f18;
}

/* Header and Navbar */
:root {
    font-size: 62.5%;
    --background: #f8f3ea;
    --font-color: black;
    --brown-background: #daae87;
    --dark-brown-background: #cf8d52;
    --light-brown-background: #d6c0b3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

hr {
    border: 1.5px solid var(--dark-brown-background);
    opacity: 0.4;
}

.container {
    font-size: 1.6em;
    background-color: var(--background);
    width: 100%;
    overflow: hidden;
    position: relative;
}

#header {
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
    font-family: "Poppins", Roboto, "Open Sans", "Helvetica Neue", sans-serif,
        Helvetica;
    font-size: 2rem;
    font-weight: 600;
    padding: 0 30px;
    z-index: 2;
}

#header .dropdown-item {
    display: none;
}

#header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

#header ul li:not(#login, .cat-recipe) {
    box-shadow: 0.5px 0.5px 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 8px 14px;
}

#header ul li:hover:not(#login) {
    background-color: var(--brown-background);
    border-radius: 10px;
}

#header ul li:active:not(#login, .cat-recipe) {
    background-color: var(--dark-brown-background);
}

#header .toggler {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

#header .nav-bar {
    display: flex;
}

.dropbtn {
    background-color: var(--background);
    font-size: 2rem;
    font-weight: 600;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    right: -5px;
    top: 47px;
    display: none;
    position: absolute;
    background-color: var(--background);
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: var(--brown-background);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--brown-background);
    width: 100%;
    height: 100%;
}

.dropdown:active .dropbtn {
    background-color: var(--dark-brown-background);
}


/* Hero section where the Category title is */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20pxs;
    position: relative;
    border-bottom: 1px solid #bf895c;
    height: 25vh;
}

.hero h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
    color: #723f18;
    margin: 0;
    margin-left: 300px;
}

.hero p {
    font-size: 2.2rem;
    margin: 20px 0 0;
    max-width: 600px;
    line-height: 1.5;
    color: #723f18;
    text-align: justify;
    align-items: center;
    word-wrap: break-word;
    margin-right: 150px;
}

.left-side-intro {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    column-gap: 15px;
    max-width: 700px;
}

.right-side-intro {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 700px;
    text-align: left;
}

.bubbles-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 180px;
}

.flowers-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
}

.plate-image {
    position: absolute;
    top: 30%;
    left: 18%;
    transform: translateX(-20%);
    width: 80px;
    height: 80px;
}

/* Adjust font size for tablets (768px and below) */
@media screen and (max-width: 768px) {
    .hero h1 {
        font-size: 3rem;
        /* Smaller heading size on tablets */
    }

    .hero p {
        font-size: 1.2rem;
        /* Slightly smaller paragraph text */
    }
}

/* Adjust font size for mobile screens (480px and below) */
@media screen and (max-width: 480px) {
    .hero h1 {
        font-size: 2.5rem;
        /* Even smaller heading size on mobile */
    }

    .hero p {
        font-size: 1rem;
        /* Small paragraph text for mobile */
    }
}

/* Adjust font size for very small mobile screens (320px and below) */
@media screen and (max-width: 320px) {
    .hero h1 {
        font-size: 2rem;
        /* Very small heading size for ultra-small screens */
    }

    .hero p {
        font-size: 0.9rem;
        /* Very small paragraph text for ultra-small screens */
    }
}


/* Search Container */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.search-bar {
    width: 50%;
    padding: 10px;
    border: 1px solid #bf895c;
    border-radius: 5px;
    margin-right: 10px;
}

.search-button {
    padding: 10px 20px;
    background-color: #723f18;
    color: #f8f3ea;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Recipe Container */
/* Recipe Container */
.recipe-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.recipe-card {
    min-width: 30%;
    border: 1px solid #bf895c;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for recipe cards */
.recipe-card:hover {
    transform: scale(1.05);
    /* Slight zoom effect */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
}

.recipe-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    display: block;
}

.recipe-card p {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Maharlika', sans-serif;
    margin-top: 10px;
    color: #723f18;
}



.image-placeholder {
    width: 100%;
    height: 150px;
    background-color: #f8f3ea;
    border: 1px dashed #bf895c;
    margin-bottom: 10px;
}



/* Footer */
footer {
    width: 100vw;
    min-height: 10vh;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    font-family: "Poppins", Roboto, "Open Sans", "Helvetica Neue", sans-serif,
        Helvetica;
    font-weight: 600;
    border-top: 1px solid var(--dark-brown-background);
}

.footer-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-text {
    font-size: 2rem;
    z-index: 2;
    padding-left: 60px;
    color: var(--dark-brown-background);
    font-family: "Sour Gummy", "Open Sans";
}

.footer-contact ul {
    font-size: 1.2rem;
    list-style-type: none;
    display: flex;
    column-gap: 15px;
    padding: 0 10px;
}

.footer-contact ul li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    padding: 10px 0;
}

.footer-contact ul li img {
    margin-right: 10px;
}

.footer-form {
    color: var(--dark-brown-background);
    font-family: "Sour Gummy", "Open Sans";
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center align the form elements */
}

.footer-form p {
    margin-bottom: 10px;
}

.footer-form input[type="email"] {
    background-color: var(--light-brown-background);
    padding: 8px 10px;
    border-radius: 15px;
    border: none;
    margin-right: 10px;
    /* Add some space between the input and button */
    color: var(--font-color);
}

.footer-form input[type="submit"] {
    background-color: var(--dark-brown-background);
    padding: 8px 15px;
    border-radius: 15px;
    border: none;
    color: var(--background);
    cursor: pointer;
}

.footer-form input[type="submit"] {
    background-color: var(--dark-brown-background);
    padding: 8px 15px;
    border-radius: 15px;
    border: none;
    color: var(--background);
    cursor: pointer;
}

.footer-form input[type="submit"]:hover {
    background-color: var(--brown-background);
}

::placeholder {
    color: var(--background);
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    color: var(--dark-brown-background);
    font-family: "Poppins", Roboto, "Open Sans", "Helvetica Neue", sans-serif,
        Helvetica;
}

.footer-form input[type="submit"] {
    background-color: var(--dark-brown-background);
    padding: 5px 7px;
    border-radius: 15px;
    border: none;
    color: var(--background);
}

.footer-form input[type="email"] {
    background-color: var(--dark-brown-background);
    padding: 8px 10px;
    color: var(--background);
    border-radius: 15px;
    border: none;
    color: var(--background);
}

.footer-form input[type="submit"]:hover {
    background-color: var(--brown-background);
}

.footer-copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    color: var(--dark-brown-background);
    font-family: "Poppins", Roboto, "Open Sans", "Helvetica Neue", sans-serif,
        Helvetica;
}


/* Adjust font size for tablets */
@media only screen and (max-width: 1024px) {
    body {
        font-size: 14px;
    }

    .footer-text,
    .footer-contact ul li,
    .footer-form p,
    .footer-bottom {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 600px) {
    #header ul {
        flex-direction: column;
    }

    .footer-contact ul {
        flex-direction: column;
    }

    .footer-form {
        align-items: center;
    }

    .footer-contact ul li {
        flex-direction: column;
    }

    .footer-contact ul li img {
        margin-right: 0;
    }

    .footer-contact ul li span {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .footer-text {
        text-align: center;
    }
}

#weed {
    position: absolute;
    left: -40px;
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 768px) {
    #header .toggler {
        display: block;
    }

    #header .nav-bar {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--background);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    #header .nav-bar.active {
        display: flex;
    }

    #header .nav-bar ul {
        flex-direction: column;
        width: 100%;
    }

    #header .nav-bar ul li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    #header .dropdown {
        display: none;
    }

    #header .dropdown-item {
        display: block;
    }

    body {
        font-size: 12px;
    }

    .footer-text,
    .footer-contact ul li,
    .footer-form p,
    .footer-bottom {
        font-size: 1.6rem;
    }
}